/* TODO: fix social media and contacts menu position 
    TODO: look, into CSS tricks website, for a better suspended menu.

*/



/* ========================= IMPORTS ==========================*/

/* font: Great Vibes. (general purpouse)*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* font: Dancing Script. (menus)*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* menu font: EB Garamond medium 500 italic*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');

/* body font: OpenSans regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* RESETS */

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    width: 360px;
}

header{
    overflow:hidden;
    background: red;
}
.logo{
    display: inline;
    /* width: fit-content; */
}

.logo img{
    display: inline-block;
    width: 80px;
}


.media li{
    float: right;
}

.contact{
    clear: right;
}

.contact li{
    float: right;
}

main{
    clear: both;
}