/* 
   TODO: set tooltip for telephon icon (telephone number)
   TODO: set tooltip and link for the other menu buttons.
  
   TODO: adjust icon size for social media.

*/



/* ========================= IMPORTS ==========================*/

/* font: Great Vibes. (general purpouse)*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* font: Dancing Script. (menus)*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* menu font: EB Garamond medium 500 italic*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');

/* body font: OpenSans regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* :::: RESETS :::: */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* :::: WHOLE PAGE :::: */
.container{
    margin: auto;
    position: relative;
    width: 360px;
}

/* :::: HEADER :::: */
header{
    background: #FFF;
    overflow:hidden;
    padding: 10px;
    position: fixed;
    width: 360px;
    
}
.logo{
    display: inline;
    width: 100px;
}

.logo img{
    display: inline-block;
    width: 80px;
}

/* :::: NAV :::: */
nav{
    box-sizing: border-box;

    float: right;
    margin-top: 25px;
    padding: 5px;
    width: 250px;
}

.media{
    font-size: 12px;
}

.media li{
    float: left;
    margin-left: 30px;
}

.media img{
    width: 20px;
}

/* :::: MAIN :::: */
main{
    clear: both;
    padding: 5px;
    padding-top: 5rem;

}

.products{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2rem;
    padding: 30px;
    padding-left: 10px;
}

.cardTitle{
    font-family: 'EB Garamond', sans-serif;
    font-size: 2rem; 
    margin-left: 0;
}
/* :::BACKGROUND FOR EACH PRODUCT::: */
.bakery{
    background-image: url("../assets/about.jpg");
}

.bread{
    background-image: url("../assets/bread.jpg");
    clear: both;
}

.cakes{
    background-image: url("../assets/cakes.jpg");
    clear: both;
}

.snacks{
    background-image: url("../assets/snacks.jpg");
    clear: both;
}
.productDescription{
    background-color: rgba(64, 1, 1, 0.7);
    float: left;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5rem;
    margin-left: 15px;
    margin-top: 40px;
    padding: 15px;
}


 /* :::: FOOTER :::: */
footer{
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 10px;
}

.map{
    display: inline-block;
    width: 45%;
}

.address{
    float: right;
    font-size: 14px;
    margin: 20px;
    margin-top: 40px;
}